@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Unbounded:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fcf4fc;
  color: #ad6cad;
}

.header{
  text-align: center;
  padding: 30px 0 50px;
  font-family: 'Unbounded', sans-serif;
}

.container{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  max-width: 1000px;
  margin: 0 auto;
  gap: 5px;
  border: 5px solid #f8d8f8;
  border-radius: 20px;
  padding: 5px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s;
}

.gallery__img:hover{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 10;
}

.footer__content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 0;
  height: 60px;
}

.footer__link{
  display: inline-block;
  padding-right: 5px;
  transition: all 0.2s;
}

.footer__link:hover{
  scale: 1.1;
}

.footer__nome{
  color: #797979;
}